{% extends 'base.html' %}

{% block content %}
  
  <h5>Hi,</h5>
  <p>I'm a full stack developer with 2 years of work Experience.
  Currently working in a product based seed startup named Eichiba Inc. Mumbai</p>
  <p>Tech stacks known - </p>
    <ul>
      <li>Python</li>
      <li>Flask</li>
      <li>Django</li>
      <li>Golang - Basic</li>
      <li>Html</li>
      <li>CSS</li>
      <li>Bootsrap</li>
      <li>Java Script</li>
      <li>Vue js</li>
      <li>Microservices</li>
      <li>AWS</li>
      <li>SQL/ No SQL Databases like Oracle, My SQL, Postgres, Mongo DB</li>
    </ul>
  <p class="card-text">
    Find all my repositories at <a href="https://github.com/DebaPrasad14?tab=repositories">Github</a>
  </p>

{% endblock %}